*.o
*.*fsl
*~.*

.DS_Store

# emacs detritus
*~
\#*\#
.\#*

TAGS
tags

/.gdb*

/*.image
/*boot*

/armcl
/?x86cl
/?x86cl64
/wx86cl.exe
/wx86cl64.exe
/*headers/
/*headers64/

/*bundle*.app/
/Clozure\ CL*.app/
cocoa-ide/altconsole/.gdb_history
cocoa-ide/altconsole/AltConsole
cocoa-ide/altconsole/AltConsole.app
cocoa-ide/ide-contents/Info.plist

lisp-kernel/darwinx8632/mach_exc.h
lisp-kernel/darwinx8632/mach_exc_server.c
lisp-kernel/darwinx8632/probes.h
lisp-kernel/darwinx8664/mach_exc.h
lisp-kernel/darwinx8664/mach_exc_server.c
lisp-kernel/darwinx8664/probes.h
lisp-kernel/static-linuxppc/external-functions.h

