* text=auto !eol
cocoa-ide/.cvsignore -text
cocoa-ide/README -text
cocoa-ide/app-delegate.lisp -text
cocoa-ide/apropos-window.lisp -text
cocoa-ide/build-application.lisp -text
cocoa-ide/builder-utilities.lisp -text
cocoa-ide/cocoa-doc.lisp -text
cocoa-ide/cocoa-grep.lisp -text
cocoa-ide/cocoa-utils.lisp -text
cocoa-ide/console-window.lisp -text
cocoa-ide/defsystem.lisp -text
cocoa-ide/hemlock/src/isearchcoms.lisp -text
cocoa-ide/hemlock/src/symbol-completion.lisp -text
cocoa-ide/hemlock/src/views.lisp -text
cocoa-ide/ide-bundle.lisp -text
cocoa-ide/ide-contents/Resources/Appearance.tiff -text
cocoa-ide/ide-contents/Resources/Documentation.icns -text
cocoa-ide/ide-contents/Resources/Encodings.tiff -text
cocoa-ide/ide-contents/Resources/English.lproj/Credits.html -text
cocoa-ide/ide-contents/Resources/English.lproj/MainMenu.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/OpenmclInspector.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/apropos.nib/classes.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/apropos.nib/info.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/apropos.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/backtrace.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/displaydoc.nib/classes.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/displaydoc.nib/info.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/displaydoc.nib/keyedobjects.nib -text svneol=unset#application/octet-stream
cocoa-ide/ide-contents/Resources/English.lproj/inspector.nib/designable.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/inspector.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/preferences.nib/classes.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/preferences.nib/info.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/preferences.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/processes.nib/classes.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/processes.nib/info.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/processes.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/General.tiff -text
cocoa-ide/ide-contents/Resources/openmcl-icon.icns -text svneol=unset#unset
cocoa-ide/inspector.lisp -text
cocoa-ide/preferences.lisp -text
cocoa-ide/processes-window.lisp -text
cocoa-ide/start.lisp -text
compiler/acode-rewrite.lisp -text
doc/release-notes.txt -text
doc/src/Makefile.fedora -text
doc/src/Makefile.macports -text
doc/src/about.xml -text
doc/src/build.xml -text
doc/src/ccl-documentation.xml -text
doc/src/docbook-rng-4.5/calstblx.rnc -text
doc/src/docbook-rng-4.5/calstblx.rng -text
doc/src/docbook-rng-4.5/dbhierx.rnc -text
doc/src/docbook-rng-4.5/dbhierx.rng -text
doc/src/docbook-rng-4.5/dbnotnx.rnc -text
doc/src/docbook-rng-4.5/dbnotnx.rng -text
doc/src/docbook-rng-4.5/dbpoolx.rnc -text
doc/src/docbook-rng-4.5/dbpoolx.rng -text
doc/src/docbook-rng-4.5/docbook.rnc -text
doc/src/docbook-rng-4.5/docbook.rng -text
doc/src/docbook-rng-4.5/htmltblx.rnc -text
doc/src/docbook-rng-4.5/htmltblx.rng -text
doc/src/external-process.xml -text
doc/src/ffi.xml -text
doc/src/gc.xml -text
doc/src/glossary.xml -text
doc/src/ide.xml -text
doc/src/implementation.xml -text
doc/src/install.xml -text
doc/src/makehtml -text
doc/src/modifying.xml -text
doc/src/mop.xml -text
doc/src/objc-bridge.xml -text
doc/src/platform-notes.xml -text
doc/src/q-and-a.xml -text
doc/src/schemas.xml -text
doc/src/sockets.xml -text
doc/src/streams.xml -text
doc/src/templates/function -text
doc/src/threads.xml -text
doc/src/using.xml -text
doc/src/xsl/catalog -text
doc/src/xsl/catalog-fedora -text
doc/src/xsl/catalog-fink -text
doc/src/xsl/catalog-macports -text
doc/src/xsl/directory-fixes.xsl -text
doc/src/xsl/footer.xsl -text
doc/src/xsl/minor-customizations.xsl -text
doc/src/xsl/openmcl.xsl -text
doc/src/xsl/optional-onechunk.xsl -text
doc/src/xsl/parameters.xsl -text
doc/src/xsl/refentry.xsl -text
doc/src/xsl/site-navigator.xsl -text
doc/src/xsl/toc-at-end.xsl -text
examples/cocoa/.cvsignore -text
examples/cocoa/currency-converter/CurrencyConverter.nib/designable.nib -text
examples/cocoa/currency-converter/CurrencyConverter.nib/keyedobjects.nib -text
examples/cocoa/currency-converter/HOWTO.html -text
examples/cocoa/currency-converter/HOWTO_files/images/bosco.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/cc1.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/cc2.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/finder-win1.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/finder-win2.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard1.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard2.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard3.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard4.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard5.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard6.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard7.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard8.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger1.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger10.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger11.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger12.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger13.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger14.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger15.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger16.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger17.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger18.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger19.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger2.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger20.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger21.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger22.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger3.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger4.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger5.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger6.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger7.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger8.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger9.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin1.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/listener1.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/term1.jpg -text
examples/cocoa/currency-converter/HOWTO_files/pages/build_app.html -text
examples/cocoa/currency-converter/HOWTO_files/pages/building_ui.html -text
examples/cocoa/currency-converter/HOWTO_files/pages/building_ui_tiger.html -text
examples/cocoa/currency-converter/HOWTO_files/pages/conclusion.html -text
examples/cocoa/currency-converter/HOWTO_files/pages/create_lisp.html -text
examples/cocoa/currency-converter/HOWTO_files/pages/making_project.html -text
examples/cocoa/currency-converter/HOWTO_files/pages/writing_lisp.html -text
examples/cocoa/currency-converter/HOWTO_files/stylesheets/styles.css -text
examples/cocoa/currency-converter/currency-converter.lisp -text
examples/cocoa/easygui.lisp -text
examples/cocoa/easygui/.cvsignore -text
examples/cocoa/easygui/action-targets.lisp -text
examples/cocoa/easygui/easygui.asd -text
examples/cocoa/easygui/events.lisp -text
examples/cocoa/easygui/example/currency-converter.lisp -text
examples/cocoa/easygui/example/tiny.lisp -text
examples/cocoa/easygui/example/view-hierarchy.lisp -text
examples/cocoa/easygui/new-cocoa-bindings.lisp -text
examples/cocoa/easygui/package.lisp -text
examples/cocoa/easygui/views.lisp -text
examples/cocoa/interface-databases/HOWTO.html -text
examples/cocoa/interface-databases/HOWTO_files/images/bosco.jpg -text
examples/cocoa/interface-databases/HOWTO_files/stylesheets/styles.css -text
examples/cocoa/nib-loading/HOWTO.html -text
examples/cocoa/nib-loading/HOWTO_files/images/bosco.jpg -text
examples/cocoa/nib-loading/HOWTO_files/stylesheets/styles.css -text
examples/cocoa/nib-loading/hello.nib/designable.nib -text
examples/cocoa/nib-loading/hello.nib/keyedobjects.nib -text
examples/cocoa/nib-loading/nib-loading.lisp -text
examples/cocoa/ui-elements/HOWTO.html -text
examples/cocoa/ui-elements/HOWTO_files/images/bosco.jpg -text
examples/cocoa/ui-elements/HOWTO_files/stylesheets/styles.css -text
lib/late-clos.lisp -text
library/elf.lisp -text
library/mach-o.lisp -text
lisp-kernel/gc-common.c -text
lisp-kernel/win64/Makefile -text
lisp-kernel/win64/yasm-redefinition.patch -text
objc-bridge/objc-package.lisp -text
objc-bridge/obsolete/README -text
scripts/ccl -text
scripts/ccl64 -text
scripts/http-to-ssh -text
scripts/svn-switch -text
