* text=auto !eol
cocoa-ide/README -text
cocoa-ide/altconsole/AltConsoleDocument.h -text
cocoa-ide/altconsole/AltConsoleDocument.m -text
cocoa-ide/altconsole/AltConsoleDocumentController.h -text
cocoa-ide/altconsole/AltConsoleDocumentController.m -text
cocoa-ide/altconsole/Info.plist -text
cocoa-ide/altconsole/Makefile -text
cocoa-ide/altconsole/main.m -text
cocoa-ide/altconsole/resource/AltConsole.nib/classes.nib -text
cocoa-ide/altconsole/resource/AltConsole.nib/info.nib -text
cocoa-ide/altconsole/resource/AltConsole.nib/keyedobjects.nib -text
cocoa-ide/altconsole/resource/Clear.tiff -text
cocoa-ide/altconsole/resource/Credits.rtf -text
cocoa-ide/altconsole/resource/InfoPlist.strings -text
cocoa-ide/altconsole/resource/MainMenu.nib/classes.nib -text
cocoa-ide/altconsole/resource/MainMenu.nib/info.nib -text
cocoa-ide/altconsole/resource/MainMenu.nib/keyedobjects.nib -text
cocoa-ide/altconsole/resource/MainMenu.nib/objects.nib -text
cocoa-ide/altconsole/version.plist -text
cocoa-ide/app-delegate.lisp -text
cocoa-ide/apropos-window.lisp -text
cocoa-ide/build-application.lisp -text
cocoa-ide/builder-utilities.lisp -text
cocoa-ide/cocoa-doc.lisp -text
cocoa-ide/cocoa-grep.lisp -text
cocoa-ide/cocoa-utils.lisp -text
cocoa-ide/console-window.lisp -text
cocoa-ide/constants.lisp -text
cocoa-ide/defsystem.lisp -text
cocoa-ide/file-dialogs.lisp -text
cocoa-ide/hemlock-text.lisp -text
cocoa-ide/hemlock/src/charprops.lisp -text
cocoa-ide/hemlock/src/isearchcoms.lisp -text
cocoa-ide/hemlock/src/symbol-completion.lisp -text
cocoa-ide/hemlock/src/views.lisp -text
cocoa-ide/ide-bundle.lisp -text
cocoa-ide/ide-contents/Resources/Appearance.tiff -text
cocoa-ide/ide-contents/Resources/Documentation.icns -text
cocoa-ide/ide-contents/Resources/Encodings.tiff -text
cocoa-ide/ide-contents/Resources/English.lproj/Authenticate.nib/designable.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/Authenticate.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/Credits.html -text
cocoa-ide/ide-contents/Resources/English.lproj/MainMenu.nib/designable.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/MainMenu.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/OpenmclInspector.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/ProgressWindow.nib/designable.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/ProgressWindow.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/SearchFiles.nib/classes.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/SearchFiles.nib/info.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/SearchFiles.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/apropos.nib/classes.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/apropos.nib/info.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/apropos.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/backtrace.nib/designable.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/backtrace.nib/keyedobjects.nib -text svneol=unset#unset
cocoa-ide/ide-contents/Resources/English.lproj/displaydoc.nib/classes.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/displaydoc.nib/info.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/displaydoc.nib/keyedobjects.nib -text svneol=unset#application/octet-stream
cocoa-ide/ide-contents/Resources/English.lproj/inspector.nib/designable.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/inspector.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/preferences.nib/classes.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/preferences.nib/info.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/preferences.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/processes.nib/classes.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/processes.nib/info.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/processes.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/project.nib/designable.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/project.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/updateCCL.nib/designable.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/updateCCL.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/xapropos.nib/classes.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/xapropos.nib/info.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/xapropos.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/xinspector.nib/designable.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/xinspector.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/General.tiff -text
cocoa-ide/ide-contents/Resources/collapse-all.png -text
cocoa-ide/ide-contents/Resources/expand-all.png -text
cocoa-ide/ide-contents/Resources/font-panel.tiff -text
cocoa-ide/ide-contents/Resources/gear.png -text
cocoa-ide/ide-contents/Resources/info.tiff -text
cocoa-ide/ide-contents/Resources/openmcl-icon.icns -text svneol=unset#unset
cocoa-ide/ide-contents/Resources/openmcl-icon.ico -text
cocoa-ide/ide-self-update.lisp -text
cocoa-ide/inspector.lisp -text
cocoa-ide/preferences.lisp -text
cocoa-ide/processes-window.lisp -text
cocoa-ide/project.lisp -text
cocoa-ide/search-files.lisp -text
cocoa-ide/start.lisp -text
cocoa-ide/swank-ccl-ide.el -text
cocoa-ide/swank-listener.lisp -text
cocoa-ide/xapropos.lisp -text
cocoa-ide/xinspector.lisp -text
compiler/ARM/arm-arch.lisp -text
compiler/ARM/arm-asm.lisp -text
compiler/ARM/arm-backend.lisp -text
compiler/ARM/arm-disassemble.lisp -text
compiler/ARM/arm-lap.lisp -text
compiler/ARM/arm-lapmacros.lisp -text
compiler/ARM/arm-vinsns.lisp -text
compiler/ARM/arm2.lisp -text
compiler/X86/X8632/x8632-arch.lisp -text
compiler/X86/X8632/x8632-backend.lisp -text
compiler/X86/X8632/x8632-vinsns.lisp -text
compiler/acode-rewrite.lisp -text
compiler/nx2.lisp -text
doc/ccl-documentation.html -text
doc/doc-splitter.lisp -text
doc/release-notes-1.2.txt -text
doc/release-notes.txt -text
doc/src/Makefile.debian -text
doc/src/Makefile.fedora -text
doc/src/Makefile.macports -text
doc/src/about.xml -text
doc/src/build.xml -text
doc/src/ccl-documentation.xml -text
doc/src/docbook-rng-4.5/calstblx.rnc -text
doc/src/docbook-rng-4.5/calstblx.rng -text
doc/src/docbook-rng-4.5/dbhierx.rnc -text
doc/src/docbook-rng-4.5/dbhierx.rng -text
doc/src/docbook-rng-4.5/dbnotnx.rnc -text
doc/src/docbook-rng-4.5/dbnotnx.rng -text
doc/src/docbook-rng-4.5/dbpoolx.rnc -text
doc/src/docbook-rng-4.5/dbpoolx.rng -text
doc/src/docbook-rng-4.5/docbook.rnc -text
doc/src/docbook-rng-4.5/docbook.rng -text
doc/src/docbook-rng-4.5/htmltblx.rnc -text
doc/src/docbook-rng-4.5/htmltblx.rng -text
doc/src/external-process.xml -text
doc/src/ffi.xml -text
doc/src/gc.xml -text
doc/src/glossary.xml -text
doc/src/hemlock.xml -text
doc/src/ide.xml -text
doc/src/implementation.xml -text
doc/src/install.xml -text
doc/src/makefile-common -text
doc/src/modifying.xml -text
doc/src/mop.xml -text
doc/src/objc-bridge.xml -text
doc/src/platform-notes.xml -text
doc/src/profile.xml -text
doc/src/q-and-a.xml -text
doc/src/schemas.xml -text
doc/src/sockets.xml -text
doc/src/streams.xml -text
doc/src/templates/function -text
doc/src/threads.xml -text
doc/src/using.xml -text
doc/src/xsl/catalog -text
doc/src/xsl/catalog-debian -text
doc/src/xsl/catalog-fedora -text
doc/src/xsl/catalog-fink -text
doc/src/xsl/catalog-macports -text
doc/src/xsl/directory-fixes.xsl -text
doc/src/xsl/footer.xsl -text
doc/src/xsl/minor-customizations.xsl -text
doc/src/xsl/openmcl.xsl -text
doc/src/xsl/optional-onechunk.xsl -text
doc/src/xsl/parameters.xsl -text
doc/src/xsl/refentry.xsl -text
doc/src/xsl/site-navigator.xsl -text
doc/src/xsl/toc-at-end.xsl -text
examples/cocoa/currency-converter/CurrencyConverter.nib/designable.nib -text
examples/cocoa/currency-converter/CurrencyConverter.nib/keyedobjects.nib -text
examples/cocoa/currency-converter/HOWTO.html -text
examples/cocoa/currency-converter/HOWTO_files/images/bosco.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/cc1.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/cc2.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/finder-win1.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/finder-win2.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard1.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard2.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard3.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard4.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard5.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard6.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard7.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard8.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger1.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger10.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger11.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger12.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger13.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger14.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger15.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger16.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger17.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger18.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger19.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger2.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger20.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger21.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger22.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger3.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger4.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger5.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger6.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger7.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger8.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger9.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin1.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/listener1.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/term1.jpg -text
examples/cocoa/currency-converter/HOWTO_files/pages/build_app.html -text
examples/cocoa/currency-converter/HOWTO_files/pages/building_ui.html -text
examples/cocoa/currency-converter/HOWTO_files/pages/building_ui_tiger.html -text
examples/cocoa/currency-converter/HOWTO_files/pages/conclusion.html -text
examples/cocoa/currency-converter/HOWTO_files/pages/create_lisp.html -text
examples/cocoa/currency-converter/HOWTO_files/pages/making_project.html -text
examples/cocoa/currency-converter/HOWTO_files/pages/writing_lisp.html -text
examples/cocoa/currency-converter/HOWTO_files/stylesheets/styles.css -text
examples/cocoa/currency-converter/currency-converter.lisp -text
examples/cocoa/easygui.lisp -text
examples/cocoa/easygui/action-targets.lisp -text
examples/cocoa/easygui/dialogs.lisp -text
examples/cocoa/easygui/events.lisp -text
examples/cocoa/easygui/example/currency-converter.lisp -text
examples/cocoa/easygui/example/tiny.lisp -text
examples/cocoa/easygui/example/view-hierarchy.lisp -text
examples/cocoa/easygui/new-cocoa-bindings.lisp -text
examples/cocoa/easygui/package.lisp -text
examples/cocoa/easygui/rgb.lisp -text
examples/cocoa/easygui/system.lisp -text
examples/cocoa/easygui/views.lisp -text
examples/cocoa/interface-databases/HOWTO.html -text
examples/cocoa/interface-databases/HOWTO_files/images/bosco.jpg -text
examples/cocoa/interface-databases/HOWTO_files/stylesheets/styles.css -text
examples/cocoa/nib-loading/HOWTO.html -text
examples/cocoa/nib-loading/HOWTO_files/images/bosco.jpg -text
examples/cocoa/nib-loading/HOWTO_files/stylesheets/styles.css -text
examples/cocoa/nib-loading/hello.nib/designable.nib -text
examples/cocoa/nib-loading/hello.nib/keyedobjects.nib -text
examples/cocoa/nib-loading/nib-loading.lisp -text
examples/cocoa/progress-view-controller/progress-view-controller.lisp -text
examples/cocoa/qtvidcapture/QTVidCapture.nib/classes.nib -text
examples/cocoa/qtvidcapture/QTVidCapture.nib/info.nib -text
examples/cocoa/qtvidcapture/QTVidCapture.nib/keyedobjects.nib -text
examples/cocoa/qtvidcapture/qtvidcapture.lisp -text
examples/cocoa/ui-elements/HOWTO.html -text
examples/cocoa/ui-elements/HOWTO_files/images/bosco.jpg -text
examples/cocoa/ui-elements/HOWTO_files/stylesheets/styles.css -text
examples/jfli/CPL.TXT -text
examples/jfli/com/richhickey/jfli/LispInvocationHandler.java -text
examples/jfli/docs/bullet.gif -text
examples/jfli/docs/bullet2.gif -text
examples/jfli/docs/jfli.css -text
examples/jfli/docs/jfli.html -text
examples/jfli/docs/jfli_bkgrnd.gif -text
examples/jfli/docs/jfli_new.gif -text
examples/jfli/examples/session.lisp -text
examples/jfli/examples/swtdemo.lisp -text
examples/jfli/jfli-lw.lisp -text
examples/jfli/jfli.jar -text
examples/jfli/jfli.lisp -text
examples/jfli/jni-lw.lisp -text
examples/jfli/jni.lisp -text
examples/mswin.lisp -text
level-0/ARM/arm-array.lisp -text
level-0/ARM/arm-bignum.lisp -text
level-0/ARM/arm-clos.lisp -text
level-0/ARM/arm-def.lisp -text
level-0/ARM/arm-float.lisp -text
level-0/ARM/arm-hash.lisp -text
level-0/ARM/arm-io.lisp -text
level-0/ARM/arm-misc.lisp -text
level-0/ARM/arm-numbers.lisp -text
level-0/ARM/arm-pred.lisp -text
level-0/ARM/arm-symbol.lisp -text
level-0/ARM/arm-utils.lisp -text
level-0/X86/X8632/x8632-array.lisp -text
level-0/X86/X8632/x8632-bignum.lisp -text
level-0/X86/X8632/x8632-clos.lisp -text
level-0/X86/X8632/x8632-def.lisp -text
level-0/X86/X8632/x8632-float.lisp -text
level-0/X86/X8632/x8632-hash.lisp -text
level-0/X86/X8632/x8632-misc.lisp -text
level-0/X86/X8632/x8632-numbers.lisp -text
level-0/X86/X8632/x8632-pred.lisp -text
level-0/X86/X8632/x8632-symbol.lisp -text
level-0/X86/X8632/x8632-utils.lisp -text
level-1/arm-callback-support.lisp -text
level-1/arm-error-signal.lisp -text
level-1/arm-threads-utils.lisp -text
level-1/arm-trap-support.lisp -text
lib/arm-backtrace.lisp -text
lib/armenv.lisp -text
lib/ffi-androidarm.lisp -text
lib/ffi-darwinarm.lisp -text
lib/ffi-darwinx8632.lisp -text
lib/ffi-freebsdx8632.lisp -text
lib/ffi-linuxarm.lisp -text
lib/ffi-linuxx8632.lisp -text
lib/ffi-solarisx8632.lisp -text
lib/ffi-solarisx8664.lisp -text
lib/ffi-win32.lisp -text
lib/ffi-win64.lisp -text
lib/late-clos.lisp -text
lib/x86-watch.lisp -text
lib/x8632env.lisp -text
library/cn-encode.lisp -text
library/core-files.lisp -text
library/cover.lisp -text
library/darwinx8632-syscalls.lisp -text
library/dominance.lisp -text
library/elf.lisp -text
library/intel-io.lisp -text
library/jp-encode.lisp -text
library/leaks.lisp -text
library/mach-o-symbols.lisp -text
library/mach-o.lisp -text
library/oprofile.txt -text
library/sequence-utils.lisp -text
library/serial-streams.lisp -text
library/x86-win64-syscalls.lisp -text
library/x8664-solaris-syscalls.lisp -text
lisp-kernel/albt.c -text
lisp-kernel/androidarm/Makefile -text
lisp-kernel/androidarm/aarmcl.c -text
lisp-kernel/androidarm/armandroid.x -text
lisp-kernel/androidarm/fixlib.c -text
lisp-kernel/androidarm/link.h -text
lisp-kernel/androidarm/linker.h -text
lisp-kernel/androidarm/ucontext.h -text
lisp-kernel/arm-asmutils.s -text
lisp-kernel/arm-constants.h -text
lisp-kernel/arm-constants.s -text
lisp-kernel/arm-exceptions.c -text
lisp-kernel/arm-exceptions.h -text
lisp-kernel/arm-gc.c -text
lisp-kernel/arm-macros.s -text
lisp-kernel/arm-spentry.s -text
lisp-kernel/arm-uuo.s -text
lisp-kernel/arm_print.c -text
lisp-kernel/constants.h -text
lisp-kernel/darwinarm/Makefile -text
lisp-kernel/darwinx8632/.gdbinit -text
lisp-kernel/darwinx8632/Makefile -text
lisp-kernel/darwinx8632/exports -text
lisp-kernel/darwinx8664/exports -text
lisp-kernel/freebsdx8632/.gdbinit -text
lisp-kernel/freebsdx8632/Makefile -text
lisp-kernel/freebsdx8632/e_exp.c -text
lisp-kernel/freebsdx8632/e_expf.c -text
lisp-kernel/freebsdx8632/fdlibm.h -text
lisp-kernel/freebsdx8632/fpu.h -text
lisp-kernel/gc-common.c -text
lisp-kernel/linuxarm/.gdbinit -text
lisp-kernel/linuxarm/Makefile -text
lisp-kernel/linuxarm/armlinux.x -text
lisp-kernel/linuxx8632/.gdbinit -text
lisp-kernel/linuxx8632/Makefile -text
lisp-kernel/mach-o-image.c -text
lisp-kernel/os-darwin.h -text
lisp-kernel/os-freebsd.h -text
lisp-kernel/os-linux.h -text
lisp-kernel/os-solaris.h -text
lisp-kernel/os-windows.h -text
lisp-kernel/platform-androidarm.h -text
lisp-kernel/platform-darwinarm.h -text
lisp-kernel/platform-darwinx8632.h -text
lisp-kernel/platform-darwinx8664.h -text
lisp-kernel/platform-freebsdx8632.h -text
lisp-kernel/platform-freebsdx8664.h -text
lisp-kernel/platform-linuxarm.h -text
lisp-kernel/platform-linuxppc.h -text
lisp-kernel/platform-linuxppc64.h -text
lisp-kernel/platform-linuxx8632.h -text
lisp-kernel/platform-linuxx8664.h -text
lisp-kernel/platform-solarisx64.h -text
lisp-kernel/platform-solarisx86.h -text
lisp-kernel/platform-win32.h -text
lisp-kernel/platform-win64.h -text
lisp-kernel/solaris-inttypes.h -text
lisp-kernel/solarisx64/.gdbinit -text
lisp-kernel/solarisx86/Makefile -text
lisp-kernel/standard-inttypes.h -text
lisp-kernel/static-linuxppc/ccl-platform.h -text
lisp-kernel/unix-calls.c -text
lisp-kernel/win32/.gdbinit -text
lisp-kernel/win32/Makefile -text
lisp-kernel/win32/pei-ia32.x -text
lisp-kernel/win64/.gdbinit -text
lisp-kernel/win64/Makefile -text
lisp-kernel/win64/pei-x86-64.x -text
lisp-kernel/win64/yasm-redefinition.patch -text
lisp-kernel/windows-calls.c -text
lisp-kernel/windows-inttypes.h -text
lisp-kernel/x86-asmutils32.s -text
lisp-kernel/x86-constants32.h -text
lisp-kernel/x86-constants32.s -text
lisp-kernel/x86-spentry32.s -text
lisp-kernel/x86-spjump32.s -text
lisp-kernel/x86-subprims32.s -text
lisp-kernel/x86-utils.c -text
lisp-kernel/x86-utils.h -text
objc-bridge/objc-package.lisp -text
objc-bridge/obsolete/README -text
scripts/ccl -text
scripts/ccl64 -text
scripts/http-to-ssh -text
scripts/http-to-svn -text
scripts/makedmg -text
scripts/svn-switch -text
xdump/xarmfasload.lisp -text
xdump/xx8632-fasload.lisp -text
