/*.image
/*CL*
/*\.?fsl
/*boot*
/*cl*
/*fsl
/*~.*
/.gdb*
/README*
bin/*fsl
cocoa-ide/*fsl
cocoa-ide/*~.*
cocoa-ide/altconsole/.gdb_history
cocoa-ide/altconsole/AltConsole
cocoa-ide/altconsole/AltConsole.app
cocoa-ide/fasls/*fsl
cocoa-ide/hemlock/*~.*
cocoa-ide/hemlock/bin/*~.*
cocoa-ide/hemlock/bin/openmcl/*fsl
cocoa-ide/hemlock/bin/openmcl/*~.*
cocoa-ide/hemlock/doc/*~.*
cocoa-ide/hemlock/doc/cim/*~.*
cocoa-ide/hemlock/doc/misc/*~.*
cocoa-ide/hemlock/doc/scribe-converter/*~.*
cocoa-ide/hemlock/doc/user/*~.*
cocoa-ide/hemlock/maint/*~.*
cocoa-ide/hemlock/resources/*~.*
cocoa-ide/hemlock/src/*~.*
cocoa-ide/hemlock/unused/*~.*
cocoa-ide/hemlock/unused/archive/elisp/*~.*
cocoa-ide/hemlock/unused/archive/spell/*~.*
cocoa-ide/hemlock/unused/archive/tty/*~.*
cocoa-ide/hemlock/unused/archive/wire/*~.*
cocoa-ide/hemlock/website/*~.*
cocoa-ide/ide-contents/Info.plist
cocoa-ide/ide-contents/Resources/English.lproj/*~.nib
compiler/*~.*
compiler/PPC/*~.*
compiler/PPC/PPC32/*~.*
compiler/PPC/PPC64/*~.*
compiler/X86/*~.*
examples/*~.*
examples/cocoa/*fsl
examples/cocoa/*~.*
examples/cocoa/easygui/*fsl
examples/cocoa/easygui/*~.*
examples/cocoa/easygui/example/*fsl
examples/jfli/.cvsignore
examples/rubix/*~.*
l1-fasls/*fsl
level-0/*fsl
level-0/*~.*
level-0/ARM/*fsl
level-0/PPC/*.d64fsl
level-0/PPC/*.dfsl
level-0/PPC/*.p64fsl
level-0/PPC/*.pfsl
level-0/PPC/*~.*
level-0/PPC/PPC32/*.d64fsl
level-0/PPC/PPC32/*.dfsl
level-0/PPC/PPC32/*.p64fsl
level-0/PPC/PPC32/*.pfsl
level-0/PPC/PPC32/*~.*
level-0/PPC/PPC64/*.d64fsl
level-0/PPC/PPC64/*.dfsl
level-0/PPC/PPC64/*.p64fsl
level-0/PPC/PPC64/*.pfsl
level-0/PPC/PPC64/*~.*
level-0/X86/*fsl
level-0/X86/*~.*
level-0/X86/X8632/*.dx32fsl
level-0/X86/X8632/*.fx32fsl
level-0/X86/X8632/*.lx32fsl
level-0/X86/X8632/*.sx32fsl
level-0/X86/X8632/*.wx32fsl
level-0/X86/X8664/*fsl
level-0/X86/X8664/*~.*
level-1/*~.*
lib/*~.*
library/*fsl
library/*~.*
lisp-kernel/*~.*
lisp-kernel/darwinx8632/mach_exc.h
lisp-kernel/darwinx8632/mach_exc_server.c
lisp-kernel/darwinx8632/probes.h
lisp-kernel/darwinx8664/mach_exc.h
lisp-kernel/darwinx8664/mach_exc_server.c
lisp-kernel/darwinx8664/probes.h
lisp-kernel/linuxppc/*~.*
lisp-kernel/linuxppc64/*~.*
lisp-kernel/static-linuxppc/*~.*
lisp-kernel/static-linuxppc/external-functions.h
mac-ui/fasls
scripts/*~.*
tools/*fsl
tools/*~.*
xdump/*.*fsl
xdump/*~.*
