* text=auto !eol
cocoa-ide/.cvsignore -text
cocoa-ide/README -text
cocoa-ide/app-delegate.lisp -text
cocoa-ide/apropos-window.lisp -text
cocoa-ide/build-application.lisp -text
cocoa-ide/builder-utilities.lisp -text
cocoa-ide/cocoa-doc.lisp -text
cocoa-ide/cocoa-grep.lisp -text
cocoa-ide/cocoa-utils.lisp -text
cocoa-ide/defsystem.lisp -text
cocoa-ide/hemlock/src/symbol-completion.lisp -text
cocoa-ide/ide-bundle.lisp -text
cocoa-ide/ide-contents/Resources/Appearance.tiff -text
cocoa-ide/ide-contents/Resources/Documentation.icns -text
cocoa-ide/ide-contents/Resources/Encodings.tiff -text
cocoa-ide/ide-contents/Resources/English.lproj/Credits.html -text
cocoa-ide/ide-contents/Resources/English.lproj/MainMenu.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/OpenmclInspector.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/apropos.nib/classes.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/apropos.nib/info.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/apropos.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/backtrace.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/displaydoc.nib/classes.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/displaydoc.nib/info.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/displaydoc.nib/keyedobjects.nib -text svneol=unset#application/octet-stream
cocoa-ide/ide-contents/Resources/English.lproj/preferences.nib/classes.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/preferences.nib/info.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/preferences.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/processes.nib/classes.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/processes.nib/info.nib -text
cocoa-ide/ide-contents/Resources/English.lproj/processes.nib/keyedobjects.nib -text
cocoa-ide/ide-contents/Resources/General.tiff -text
cocoa-ide/ide-contents/Resources/openmcl-icon.icns -text svneol=unset#unset
cocoa-ide/preferences.lisp -text
cocoa-ide/processes-window.lisp -text
cocoa-ide/start.lisp -text
compiler/acode-rewrite.lisp -text
examples/cocoa/.cvsignore -text
examples/cocoa/currency-converter/CurrencyConverter.nib/designable.nib -text
examples/cocoa/currency-converter/CurrencyConverter.nib/keyedobjects.nib -text
examples/cocoa/currency-converter/CurrencyConverter.xib -text
examples/cocoa/currency-converter/HOWTO.html -text
examples/cocoa/currency-converter/HOWTO_files/images/bosco.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/cc1.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/cc2.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/finder-win1.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/finder-win2.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard1.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard2.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard3.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard4.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard5.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard6.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard7.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-leopard8.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger1.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger10.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger11.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger12.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger13.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger14.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger15.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger16.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger17.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger18.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger19.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger2.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger20.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger21.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger22.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger3.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger4.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger5.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger6.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger7.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger8.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin-tiger9.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/ibwin1.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/listener1.jpg -text
examples/cocoa/currency-converter/HOWTO_files/images/term1.jpg -text
examples/cocoa/currency-converter/HOWTO_files/pages/build_app.html -text
examples/cocoa/currency-converter/HOWTO_files/pages/building_ui.html -text
examples/cocoa/currency-converter/HOWTO_files/pages/building_ui_tiger.html -text
examples/cocoa/currency-converter/HOWTO_files/pages/conclusion.html -text
examples/cocoa/currency-converter/HOWTO_files/pages/create_lisp.html -text
examples/cocoa/currency-converter/HOWTO_files/pages/making_project.html -text
examples/cocoa/currency-converter/HOWTO_files/pages/writing_lisp.html -text
examples/cocoa/currency-converter/HOWTO_files/stylesheets/styles.css -text
examples/cocoa/currency-converter/currency-converter.lisp -text
examples/cocoa/easygui.lisp -text
examples/cocoa/easygui/.cvsignore -text
examples/cocoa/easygui/action-targets.lisp -text
examples/cocoa/easygui/easygui.asd -text
examples/cocoa/easygui/events.lisp -text
examples/cocoa/easygui/example/currency-converter.lisp -text
examples/cocoa/easygui/example/tiny.lisp -text
examples/cocoa/easygui/example/view-hierarchy.lisp -text
examples/cocoa/easygui/new-cocoa-bindings.lisp -text
examples/cocoa/easygui/package.lisp -text
examples/cocoa/easygui/views.lisp -text
lib/late-clos.lisp -text
library/elf.lisp -text
lisp-kernel/gc-common.c -text
lisp-kernel/win64/Makefile -text
objc-bridge/objc-package.lisp -text
objc-bridge/obsolete/README -text
scripts/ccl -text
scripts/ccl64 -text
scripts/http-to-ssh -text
scripts/svn-switch -text
