;;; configuration for LIFT tests

;; settings
(:if-dribble-exists :supersede)
(:dribble "asdf-install.dribble")
(:print-length 10)
(:print-level 5)
(:print-test-case-names t)

;; suites to run
(test-asdf-install)

;; report properties
(:report-property :title "ASDF-Install | Test results")
(:report-property :relative-to test-asdf-install)



(:report-property :style-sheet "test-style.css")
(:report-property :if-exists :supersede)
(:report-property :format :html)
(:report-property :name "test-results/test-report.html")
(:report-property :unique-name t)
(:build-report)

(:report-property :unique-name t)
(:report-property :format :describe)
(:report-property :name "test-results/test-report.txt")
(:build-report)


(:report-property :format :save)
(:report-property :name "test-results/test-report.sav")
(:build-report)

(:report-property :format :describe)
(:report-property :full-pathname *standard-output*)
(:build-report)
